.card_container {
  background: white;
  width: 20%;
  max-width: 100px;
  min-width: 70px;
  height: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  margin-bottom: 0;
  cursor: pointer;
  overflow: hidden;
}
.card_container p {
  margin: 0;
  text-wrap: nowrap;
  padding: 0;
  font-size: 100%;
}
.card_container img {
  width: 12vw;
  height: 8vh;
}
@media screen and (max-width: 930px) {
  .card_container {
    width: 12vw;
    height: 10vh;
  }
}
@media screen and (max-width: 500px) {
  .options {
    display: none;
  }
}
